.menucampeoes{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 70%;
    margin: 0 auto;
}

.campeoes{
    background-image: url('../images/fundo-campeoes.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 60px;
}
.conteudo-campeoes{
    max-width: 600px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
img {
    width: 50px;
    margin-left: 5px;
}
.list-jogadores, .list-clan{
    display: flex;
    line-height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
}
p{
    width: 200px;
}
.menucampeoes h1{
    cursor: pointer;
    margin-bottom: 20px;
}

.inativo {
    display: none;
}