.menucampeoes{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 70%;
    margin: 0 auto;
}
.campeoes{

    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 60px;
}
p{
    font-size: 25px;
}
.conteudo-campeoes{
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
img {
    max-width: 40px;
    max-height: 40px;
    margin-left: 5px;
}
.list-jogadores, .list-clan{
    display: flex;
    line-height: 50px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
    background-color: #c4c3c3;
    max-width: 90%;
    margin: 10px auto;
}
p{
    max-width: 300px;
    font-family: 'FonteMenu';
} 
.menucampeoes h1{
    cursor: pointer;
    margin-bottom: 20px;
}

.inativo {
    display: none;
}
.trofeus{
    visibility: hidden;
}

.btn-campeoes, .btn-jogadores{
    display: flex;
    height: 100%;
    font-family: PaginaCampeoes;
    font-size: 35px;
    color: #215D94;
    align-items: center;
    justify-content: center;

}
#campeoes-jogadores{
    width: 70%;
    height: 120px;
    opacity: 90%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    background: none;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    position: absolute;
    margin: 60px 15%;
}
#campeoes-clans{
    width: 70%;
    height: 120px;
    opacity: 90%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    backdrop-filter: blur(6px);
    position: absolute;
    margin: 220px 15%;
}
#campeoes-ranking{
    width: 70%;
    height: 120px;
    opacity: 90%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    background: none;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    position: absolute;
    margin: 380px 15%;
    text-align: center;
}
