
        .card{
            padding: 5px 25px;
            width: 250px;
            height: 200px;
            border: 1px solid black;
            display: inline-block;
            border-radius: 15px;
            margin-top: 10px;
        }
        .nome-equipe {
            width: 100%;
            border-bottom: 1px solid gray;
        }
        .nome-capitao{
            border-bottom: 1px solid gray;
        }
        .nome-capitao .icon-whats{
            margin-left: 10px;
        }
        a{
            text-decoration: none;
            color: black;
        }
        h1{
            font-size: 25px;
        }
        h4{
            margin-top: -10px;
            font-size: 12px;
            color: gray;
        }
        .horario{
            display: flex;
            justify-content: space-between;
        }
        .hor-atual{
            margin-top: 20px;
        }
        .conteudo {
            width: 1000px;
            height: 100%;
        }
        @media (max-width: 600px){
            .conteudo{
                width: 100%;
                padding: 5px;
            }
            .card{
                width: 80%;
                margin: 10px auto;

            } 
        }