
#menu {
    display: flex;
    list-style: none;
}

@media (max-width: 768px){
    #header{
        height: 150px;
        background-image: url('../images/fundo.jpeg');
        background-size: cover;
        background-position: right bottom;
        display: flex;
        align-items: center;   
        transition: 0.5s;
    }
    #primeiro-item-menu{
        margin-top: 20px;
    }
    #menu{
        position: absolute;
        top: 0;
        left: -40px;
        width: 0;
        display: block;
        height: 100%;
        transition: .4s;
        z-index: 200;
        background-color: #ffab07;
        visibility: hidden;
        overflow-x: hidden;
    }
    #nav.active #menu {
        visibility: visible; 
        width: 65%;
        position: absolute;
        top: 0;
        overflow-x: hidden;
    }
    #menu a{
        text-align: center;   
        border-bottom: 3px solid #E0453D;
        margin-bottom: 50px;
        font-size: 40px;
        color: #215D94;
        font-family: 'FonteMenu';

    }
    #menu li {
        text-align: right;
        margin-right: 30px;
        margin-bottom: 15px;
    }
   
    #btn-mobile{
        display: flex;
        padding: 15px;
        margin-left: 20px;
        background: none;
        border: none;
        border: 3px solid #c4c3c3;
        border-radius: 50px;
        position: absolute;
    }
    #btn-mobile-voltar{
        background: none;
        border: none;
        margin-top: 100px;
        margin-right: 20px;
    }
    #hamburger{
        color: #c4c3c3;
        width: 20px;
        border-top: 3px solid;
    }
    #hamburger::after, #hamburger::before{
        width: 20px;
        height: 3px;
        margin-top: 5px;
        background-color: #c4c3c3;
        transition: 0.5s;
        content: '';
        display: block;
    }
    /* #nav.active #hamburger{
        border-top-color: transparent;
    } 
    #nav.active #hamburger::before{
        transform: rotate(-135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(135deg);
        top: -25px;

    }
    #nav.active #menu {
        visibility: visible;
        overflow-y: auto;
        height: calc(100vh);
    } */
}