
#menu {
    display: flex;
    list-style: none;
}

@media (max-width: 768px){
    #header{
        height: 100px;
        background-color: #ffab07;
        /* background-image: url('../images/fundo.jpeg'); */
        background-size: cover;
        background-position: right bottom;
        display: flex;
        align-items: center;   
        transition: 0.5s;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    }
    #primeiro-item-menu{
        margin-top: 20px;
    }
    #menu{
        position: absolute;
        top: 0;
        left: -40px;
        width: 0;
        display: block;
        height: 100%;
        transition: .6s;
        z-index: 200;
        background-color: #ffab07;
        visibility: hidden;
        overflow-x: hidden;
    }
    #nav.active #menu {
        visibility: visible; 
        width: 65%;
        position: absolute; 
        top: 0;
        overflow-x: hidden;
    }
    #menu a{
        text-align: center;   
        border-bottom: 3px solid #E0453D;
        margin-bottom: 50px;
        font-size: 30px;
        color: #215D94;
        font-family: 'FonteMenu';

    }
    #menu li {
        text-align: right;
        margin-right: 30px;
        margin-bottom: 15px;
    }
   
    #btn-mobile{
        display: flex;
        padding: 20px;
        margin-left: 10px;
        background: none;
        border: none;
        color: #215D94;
    }
    #btn-login{
        display: flex;
        padding: 15px;
        margin-right: 20px;
        background: none;
        border: none;
        color: #ffab07;

    }
    #btn-mobile-voltar{
        background: none;
        border: none;
        margin-top: 90px;
        color: #215D94;  
    }
    #nav{
        width: 100%;
    }
    .btnarea{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }


    /* #nav.active #hamburger{
        border-top-color: transparent;
    }  */
}