
#menu {
    display: flex;
    list-style: none;
}

@media (max-width: 768px){
    #header{
        height: 150px;
        background-image: url('../images/fundo.jpeg');
        background-size: cover;
        background-position: right bottom;
        display: flex;
        align-items: center;   
        transition: 0.5s;
    }
    #primeiro-item-menu{
        margin-top: 20px;
    }
    #menu{
        position: absolute;
        top: 0;
        left: -40px;
        width: 0;
        display: block;
        height: 100%;
        transition: .8s;
        z-index: 200;
        background-color: #ffab07;
        visibility: hidden;
        overflow-x: hidden;
    }
    #nav.active #menu {
        visibility: visible; 
        width: 65%;
        position: absolute;
        top: 0;
        overflow-x: hidden;
    }
    #menu a{
        text-align: center;   
        border-bottom: 3px solid #E0453D;
        margin-bottom: 50px;
        font-size: 30px;
        color: #215D94;
        font-family: 'FonteMenu';

    }
    #menu li {
        text-align: right;
        margin-right: 30px;
        margin-bottom: 15px;
    }
   
    #btn-mobile{
        display: flex;
        padding: 15px;
        margin-left: 10px;
        background: none;
        border: none;
        position: absolute;
        color: #ffab07;
    }
    #btn-mobile-voltar{
        background: none;
        border: none;
        margin-top: 90px;
        color: #215D94;  
    }
    
    /* #nav.active #hamburger{
        border-top-color: transparent;
    }  */
}