.regras{
    width: 900px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 1em gray;
    text-align: left;
    padding: 20px; 
}
/* 
#cont-s1, #cont-s2, #cont-s3, #cont-s4, #cont-s5{
    display: none;
} */
.regras > div > ul {
    display: none;
}
.regras .cont-regras{
    margin: 5px 20px;
}
.cont-regras{
    text-align: left;
}
h3{
    cursor: pointer;
}

@media (max-width: 600px){
    .regras {
        width: 80%;
    }
}