@media (max-width:768px){
    a{
        text-decoration: none;
    }
    #section1{
        width: 90%;
        display: flex;
        margin: 20px auto;
    }
    #coluna1{
        width: 60%;
    }
    #coluna2{
        width: 40%;
    }
    #doe{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffab07; 
        height: 100%;
        border-radius: 20px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
        color: #215D94;
    }
    .fa-hand-holding-dollar{
        color: #215D94;
    }
    #campeoes, #torneioatual{
        color: #215D94;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c4c3c3;
        margin-right: 20px;
        height: 60px;
        border-radius: 20px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    }
    p{
        font-size: 40px;
    }
    #torneioatual{
        margin-bottom: 20px;
    }

}