
@media (max-width: 768px){
    #sliders{
        background-color: #ffab07; 
        width: 90%;
        height: 160px;
        border-radius: 20px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
        margin: 25px auto;
    }
}