@import url('menu.css');
@import url('section1.css');
@import url('banner.css');
@import url('slider.css');
@import url('rodape.css');
@import url('campeoes.css');

*{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@font-face {
    font-family: FonteMenu;
    src: url('../media/fonts/menu.otf');
}
