.center{
    max-width: 800px;
    width: 100vw;
}
.regras{
    width: 100%;
    height: 200px;
    
}
.inscricao{
    width: 100%;
    height: 200px;
}
.form{
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    text-align: center;
}
.form input{
    padding: 5px;
    max-width: 200px;
    width: 90%;
}
.form div{
    display: block;
    padding: 5px;
}
#btn-enviar-inscricao{
    margin-top: 20px;
    background-color: green;
    color: brown;
}

.inscritos{
    width: 100%;
    height: 200px;
}