
.regras{
    width: 100%;
    background-image: linear-gradient(#ffab07, #ffab07,  #215D94);
    padding-top: 40px;
    padding-bottom: 100px;

}

.inscricao{
    background: #215D94;
    width: 100%;
    height: 600px;
}
.form{
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    text-align: center;
}
label{
    width: 50%;
    color: white;
}
.campus-form input{
    padding: 5px;
    max-width: 150px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.664);
    border:  rgba(255, 255, 255, 0.664);
}
.campus-form{
    margin: 0 auto;
    display: flex;
    padding: 5px;
}
#btn-enviar-inscricao{
    padding: 5px;
    margin-top: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
}
h1{
    color: white;
}
.center{
    display: block;
}
.inscritos{
    width: 100%;
    height: 200px;
}
.tituloregras{
    width: 100%;
}
.regras h1 {
    text-align: center;
    margin: 0 auto;
    color: #E0453D;
    text-shadow: -2px 1px 1px #215D94;
}
.regras h3{
    text-shadow: -1px 1px 1px #215D94;
    color: #E0453D;
}
.baixar-regras{
    color: #E0453D;
}
.regras-idiomas{
    margin: 0 auto;
    padding: 40px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}
.regras-idiomas h3{
    margin: 10px;
}

.regras-idiomas div{
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 700px){
    .regras-idiomas{
        display: block;
    }
}