#card-regras{
    max-width: 300px;
    height: 60px;
    margin: 40px auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #215D94;
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;
}
#card-regras > p{
    font-size: 40px;
}

.modal-fechado{
    position: absolute;
    width: 80%;
    z-index: 1000;
    background-color: white;

    margin: 30px 8%;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    padding: 10px;
}
.modal-aberto{
    visibility:visible;
    position: absolute;
    z-index: 1000;
}
#btn-fechar-regras{
    display: flex;
    color: #215D94;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.texto-regras{
    display: none;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.texto-regras-ativo{
    display: flex;
    opacity: 1;
}