body{
    background-color: #ffab07;
}
#form-x1{
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    margin: 40px auto;
    width: 80%;
    text-align: center;
}

#linha2-clan-e-id{
    display: flex;
}
.form-clan{
    margin-left: 10px;
}
.input-group-text, .tit-form{
    color: #215D94;
}
.btn-enviar-form{
    font-size: 30px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
    color: #ffab07;
    background-color: #215D94; 
}
