

table{
    max-width: 600px;
    text-align: center;
    border-collapse: collapse; 
    margin: 0 auto;
}
h1{
    text-align: center;
}
#inscritosx1 tr th{
    background-color: gray;
    color: white;
    padding: 10px;
    border: 1px solid white;

}
#inscritosx1 tr td{
    padding: 5px;
    background-color: white;
    border: 1px solid gray;
}
.inscritos{
    background-color: #E0453D;
    padding: 50px 0;
}