*{
    font-family:arial;
}
td, th{
    border: 5px solid white;
}
.grupo{
    margin: 30px;
}
.cabecalho {
    color: #215D94;
}
.posicao{
    padding: 2px 6px;
    background-color: #E0453D ;
    color: #ffab07;
}
.jogador, .pontos, .kills, .pc{
    padding: 5px;
    background-color: #ffab07;
    color: #215D94;
}
.pontos, .kills{
    width: 40px;
}