

@media  (max-width: 700px) {

    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    form{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .loginarea {
        display: flex;
        max-width: 300px;
        margin: 50px auto;
        background-color: #ffab07;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 5px 10px gray;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    input[type="text"],
    input[type="password"] {
        background-color: #D69006;
        color: #215D94;
        border: none;
        outline: none;
        font-size: 20px;
    }
    
    input:-webkit-autofill {
        -webkit-text-fill-color: #215D94 !important;
        -webkit-box-shadow: 0 0 0 30px #D69006 inset !important;
        border: none;
        font-size: 20px;
    }
    input:focus{
        outline: none;
        background-color: #D69006;
    }

    .btnEntrar {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        background-color:#215D94;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btnEntrar input{
        background-color: #215D94;
        font-size: 20px;
        color: #fff;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btnOutros{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        margin-top: 15px;
        padding: 20px;
        color: #215D94;
    }
    a{
        color: #215D94;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btn:hover {
        background-color: #0056b3;
    }

    .forgot-password,
    .create-account {
        margin-top: 10px;
    }

    .inputsenhaarea, .inputidarea{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: #D69006;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        background-color: #D69006;
        border: none;
        height: 30px;
    }

}