.barraStatusLogin{
    background-color: #D69006;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.barraStatusLogin a, p{
    color: #215D94;
    font-family: FonteMenu;
    font-size: 20px;
}
.barraStatusLogin a{
    font-size: 15px;
    color: #E0453D;
}

.painelArea{
    display: flex;
    justify-content: center;
}

.torneiosAbertosArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
    background-color: #ffab07;
    border-radius: 15px;
    margin-top: 30px;
}

.torneiosAbertosArea img{
    width: 70px;
    height: 50px;
}
.torneioX1{
    margin: 20px;
    background-color: #D69006;
    width: 85%;
    border-radius: 8px;
    text-align: center;
    padding: 10px 0;
}

.linhaRegrasInscricao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}
.regrasX1, .inscricaoX1{
    width: 50%;
}
.jogadoresInscritos{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.jogadoresInscritos > p{
    display: flex;
    align-items: center;

}

.tituloTorneio{
    font-size: 35px;
}
.tituloCard{
    font-size: 25px;
    margin-top: 10px;
}
