.barraStatusLogin{
    background-color: #D69006;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.barraStatusLogin a, p{
    color: #215D94;
    font-family: FonteMenu;
    font-size: 20px;
}
.barraStatusLogin a{
    font-size: 15px;
    color: #E0453D;
}

.painelArea{
    display: flex;
    justify-content: center;
}

.torneioX1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100px;
    background-color: #ffab07;
    border-radius: 15px;
    margin-top: 30px;
}
.torneioX1 p{
    text-align: center;
}
